/LinuxConsoleFormatter/nbproject/private/
/LinuxConsoleFormatter/build/
/LinuxConsoleFormatter/dist/
/LoggerManager/nbproject/private/
/UCF4J/nbproject/private/
/AnsiTTY4J/nbproject/private/
/AnsiTTY4J/dist/
/AnsiTTY4J/build/